html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.multiLan {
    display: none;
}

.multiLan.activeLan {
    display: inline;
}

.mainContent {
    display: block;
    padding-bottom: 2em;
}

.secondaryContent {
    padding-bottom: 1em;
}
